/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-neutral-700;
	}
	html {
		-webkit-text-size-adjust: 100%;
		font-variation-settings: normal;
	}
	body {
		@apply mx-auto max-w-3xl bg-[#F8F7F1] px-8 text-neutral-950;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}
